@import url('reset.css');
@import url('fonts.css');
@import url('vac.css');

html {
    scroll-behavior: smooth;
}

* {
   font-family: 'Geist', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    gap: 12px;
}

header{
    width: 1488px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    color: black;
    padding: 0 24px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
header a{
    color: black;
}
.public_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 32px;
    height: 50px;
    background-color: blue;
    border-radius: 14px;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    width: 1440px;
    gap: 24px;
}

offer_title{
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    border-radius: 24px;
    background-image: url("../images/background.svg");
    border: 1px solid #e4e4e7;
    h2 {
        text-align: center;
        font-size: 60px;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        background: #131313;
        width: 260px;
        height: 50px;
        border-radius: 14px;
        padding: 32px 7px;
        font-size: 18px;
    }
}

.logo img{
    display: block;
    height: 32.89px;
    width: 202px;
}

search{
    display: flex;
    gap: 24px;
    width: 1440px;
}

filters{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    width: 464px;
    background-color: #FAFAFA;
    border-radius: 24px;
    height: fit-content;
}

search_name {
    color: #131313;
    background-color: #F4F4F5;
    border-radius: 12px;
    height: 50px;
    display: flex;
    padding: 12px;
    gap: 10px;
    align-items: center;
}

format{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 64px;
    p {
        font-size: 16px;
        font-weight: bolder;
    }
    selectable {
        display: flex;
        gap: 10px;
        p {
            font-size: 18px;
            font-weight: 400;
            display: flex;
            background: #F4F4F5;
            color: #A1A1AA;
            border-radius: 7.76px;
            padding: 6px;
        }
    }
}

location{
    display: flex;
    flex-direction: column;
    gap: 10px;
    p{
        font-size: 16px;
        font-weight: bolder;
    }
    locations {
        background: #F4F4F5;
        display: flex;
        flex-direction: column;
        padding: 12px 10px;
        gap: 6px;
        div{
            display: flex;
            justify-content: space-between;
            text-align: center;
            align-items: center;
        }
        p{
            font-weight: 400;
            
            l{
                padding: 12px;
            }
        }
        pic{
            width: 22px;
            height: 22px;
            background: #E4E4E7;
        }
    }
}

minmax{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    p {
        font-size: 16px;
        font-weight: bolder;
    }
    minis {
        display: flex;
        gap: 12px;
        align-items: center;
        pic{
        width: 1px;
        height: 22px;
            background: #E4E4E7;
        }
        p {
            font-size: 18px;
            font-weight: 400;
            border-radius: 7.76px;
            padding: 6px;
            background: #F4F4F5;
            border: 1px solid #e4e4e7;
            width: 195.5px;
            height: 50px;
            padding: 13.5px;
        }
    }
}

footer{
    width: 1440px;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-image: url("../images/footer.svg");
    padding: 36px;
    margin-bottom: 24px;
    border-radius: 24px;
    p{
        width: 100%;
    }
    public_vac{
        background: #0077FF;
        color: white;
        font-size: 18px;
        font-weight: 400;
        border-radius: 14px;
        padding: 7px 24px;
    }
    links{
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }
    a {
        color: black;
        font-size: 24px;
    }
}

