.vac-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.vac-block{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FAFAFA;
    width: 464px;
    height: 319px;
    border-radius: 24px;
}

.companyinfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    .company{
        font-size: 16px;
        font-weight: bolder;
        line-height: 120%;
    }
    .title{
        font-size: 36px;
        font-weight: 400;
        line-height: 110%;
    }
    .location{
        font-size: 16px;
        line-height: 120%;
        color: #818181;
        display: flex;
        flex-direction: row;
        gap: 8.64px;
    }
}

.details{
    display: flex;
    flex-direction: row;
    gap: 10px;
    div {
        background: #0077FF;
        color: white;
        font-size: 18px;
        font-weight: 400;
        border-radius: 7.76px;
        padding: 6px 10px;
    }
}